extends base

block style
    link(rel="stylesheet", href="/css/loginSignup.css")

block content
    div(class="content")
        div(class="logo-sec")
            img(src="/image/logo.png" alt="")
        div(class="form--content")
            div(class="form--text")
                p(class="start") Welcome Back!!
                p(class="already") Don't have an account? Create one 
                    a(href="/signup" class="signup") here
            div(class="form--btns")
                a(href="#" class="options")
                    img(src="/image/google-logo.png" alt="google Logo")
                    p Sign in with Google 
                a(href="#" class="options")
                    img(src="/image/apple-logo.png" alt="Apple Logo") 
                    p Sign in with Apple
            h5 OR
            form(class="form--login")
                label(for="username") Username/Email address
                input(type="username" name="username" class="input")
                label(for="password") Password
                input(type="password" name="password" class="input")
                button(type="submit" class="btn") Get Started