extends base

block style 
    link(rel="stylesheet", href="/css/createRoom.css")

block content 
    .top--container 
        img(src="/image/12-dots.png", alt="12 Dots" class="dots")
        div(class="nav")                        
            img(src="/image/profile pic.png", alt="profile" class="profile")
    span(class="label--create")  Create Your Room
    .main-body
        #info
            div(class='top-label')
                div(class='tripname-label')
                    label(for="trip-name") Trip Name:
                div(class='mem-no-label')
                    label(for="mem-no") Members:
            div(class='input-small')
                div
                    input(type="text" id="trip-name" name="trip-name")
                div
                    input(type="text" id="mem-no" name="mem-no")
            div     
                label(for="mem_name") Username of members:
            div
                input(type="text" id="mem_name" name="mem_name")
                input(type="text" id="mem_name" name="mem_name")
                input(type="text" id="mem_name" name="mem_name")
                input(type="text" id="mem_name" name="mem_name")
        
        .illustration
            img(src="/image/undraw_campfire_re_9chj%201.svg", alt="campfire" class="picc")
    div(class="bottom")
        button Create Room
        .bottom--design 
            img(src="/image/bottom-design.png", alt="bottom" class="bottom")