@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

:root {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f0f5f8;
}

.top--container {
	display: flex;
	justify-content: space-between;
}

.nav {
	display: flex;
	justify-content: space-between;
	height: 75px;
	padding: 1rem;
}

.profile {
	height: 100%;
}

.dots {
	margin-top: 1rem;
	margin-left: 2rem;
	margin-bottom: 1.5rem;
	width: 3rem;
	height: 3rem;
}

.btn-design {
	background-color: #64a9a5;
	padding: 0.1rem 2.1rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn--invite {
	border: none;
	color: #fff;
	font-size: 1.2rem;
	height: 100%;
	cursor: pointer;
}

.create--room {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	height: 100%;
	margin: 0rem 1rem;
}

.label--welcome {
	font-size: 1.5rem;
	margin-left: 5rem;
	font-weight: 500;
}

.journey {
	margin-left: 5rem;
	font-size: 1rem;
	margin-top: 1rem;
	width: 80%;
}

.count--journey {
	border-radius: 50%;
	position: relative;
	margin-left: 1rem;
}

.count--journey::before {
	content: '';
	background: transparent;
	background-color: #f6dacc;
	height: 30px;
	width: 30px;
	position: absolute;
	top: -3px;
	left: -12px;
	border-radius: 50%;
	z-index: -1;
}

.transactions {
	display: flex;
	width: 100%;
	height: 300px;
	margin-top: 2rem;
}

.transaction--details {
	flex: 4 1 auto;
}

.illustration {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	height: 100%;
}

.illustration img {
	height: 100%;
	position: relative;
	top: -10%;
	/* left: -20%; */
}

.label--transactions {
	margin-left: 5rem;
	font-size: 1rem;
}

.all--cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 5rem;
	margin-top: 2rem;
	height: 90%;
	width: 70%;
	overflow-y: scroll;
}

.cards {
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
}

.transac {
	color: #64a9a5;
}

.bottom--design {
	display: flex;
	justify-content: flex-end;
	height: 120px;
	position: fixed;
	bottom: 0;
	right: 0;
}

.logout {
	border: 4px solid red;
	height: 50%;
	margin: auto;
	margin-right: 7rem;
	text-decoration: none;
	color: red;
	font-weight: bold;
	background-color: #fff;
}
